network:
  version: 2
  ethernets:
    net0:
      dhcp4: true
      dhcp6: false
      match:
          macaddress: {{ ansible_facts.default_ipv4.macaddress }}
      set-name: {{ ifaceName }}